node_modules
.DS_Store
.merlin
public/
*.swp
*.bs.js
.cache/
.bsb.lock

# ignore reason output files
src/gatsby.js
src/assets.js
src/data.js
src/partners.js
src/tito.js
src/layouts/*.js
src/components/*.js
src/pages/*.js

lib/

# These files are used for JS interop
!src/layouts/index.js
!src/pages/index.js
