@import "../layouts/variables.scss";

:global(.sheet) {
  display: flex;
  flex-wrap: wrap;
  height: 11.5in !important; // Adjust for Safari print mode
  -webkit-print-color-adjust: exact;
  @media print {
    break-after: page;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  width: 100%;
  height: 40vh;
  border: 2px dashed #000;
  border-radius: 8px;
}

.dropzoneHover {
  composes: dropzone;
  border-color: $secondaryColor;
}

.badge {
  position: relative;
  margin: auto;
  padding: 0;
  width: 10.2cm;
  height: 14.4cm;
  background: $secondaryColor;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0.7cm;
    left: 50%;
    width: 1mm;
    height: 1mm;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    content: "";
  }

  h2,
  h3,
  h4 {
    margin: 0 !important;
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    opacity: 0.5;
  }
}

.Attendee {
  composes: badge;
}

.Volunteer,
.Organizer {
  composes: badge;

  &::before {
    position: absolute;
    left: -5%;
    bottom: 3cm;
    box-sizing: border-box;
    width: 110%;
    padding: 0.35cm 1.5cm;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.35em;
    text-align: center;
    color: transparentize($bgColor, 0.25);
    background: $primaryColor;
    content: "Volunteer";
    z-index: 2;
    transform: rotate(5deg);
  }
}

.Organizer {
  &::before {
    content: "Organizer";
  }
}

.logo {
  position: relative;
  margin: 1.25cm 1cm 0.25cm;
  width: calc(100% - 2cm);
}

.content {
  position: relative;
  margin: 0;
  padding: 1.25cm 1cm;
  background-color: $bgColor;
  height: 8.25cm;
  clip-path: polygon(0 0, 100% 1cm, 100% 100%, 0 calc(100% - 1cm));
  z-index: 1;
}

.name {
  font-size: 225%;
}

.firstName {
  display: block;
  font-size: 135%;
}

.lastName {
  display: block;
}

h3.twitter {
  margin-top: 0.5em !important;
  font-size: 125% !important;
}

.company {
  font-weight: bold;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5cm;
  margin-top: 0.35cm;
  padding: 0 1cm;
  font-size: 7pt;
  color: lighten($textColor, 30);
  transform: rotate(180deg);
  z-index: 0;

  h4 {
    margin-bottom: 0.5em !important;
  }

  dl {
    display: flex;
  }

  dt {
    margin-right: 0.5em;
    width: 2.2em;
  }

  dd {
    font-family: "Fira Mono", sans-serif;
    letter-spacing: -0.05em;
  }
}

.footerLeft,
.footerRight {
  position: relative;
  //text-align: center;
}
