@import "../layouts/variables.scss";

.grid {
  display: flex;
  flex-wrap: wrap;
}
.badge {
  position: relative;
  margin: 1cm auto;
  padding: 0;
  width: 10cm;
  height: 14cm;
  border: 1px dashed #000;
  background: $secondaryColor;
  overflow: hidden;

  h2,
  h3,
  h4 {
    margin: 0 !important;
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    opacity: 0.5;
  }
}

.normal {
  composes: badge;
}

.organizer {
  composes: badge;

  &::before {
    position: absolute;
    left: 0;
    bottom: 2.1cm;
    box-sizing: border-box;
    width: 100%;
    //height: 1cm;
    padding: 1cm;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    color: $bgColor;
    background: $primaryColor;
    content: "Volunteer";
    z-index: 2;
    clip-path: polygon(0 0, 100% 1cm, 100% 100%, 0 calc(100% - 1cm));
  }
}

.logo {
  position: relative;
  margin: 0.75cm 1cm;
  width: calc(100% - 2cm);
}

.content {
  position: relative;
  margin: 0;
  padding: 1.25cm 1cm;
  background-color: $bgColor;
  height: 8.25cm;
  clip-path: polygon(0 0, 100% 1cm, 100% 100%, 0 calc(100% - 1cm));
  z-index: 1;
}

.name {
  font-size: 225%;
}

.firstName {
  display: block;
  font-size: 135%;
}

.lastName {
  display: block;
}

.twitter {
  font-size: 125% !important;
}

.company {
  font-weight: bold;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5cm;
  padding: 0 1cm;
  font-size: 7pt;
  color: lighten($textColor, 30);
  transform: rotate(180deg);
  z-index: 0;

  h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: right;
    transform: translate(-2em, 2em) rotate(-90deg);
    transform-origin: left top;
    width: 8.2em;
  }
}

.footerLeft,
.footerRight {
  position: relative;
  //text-align: center;
}
