.root {
}

.list {
  display: grid;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listItem {
  text-align: left;
}
