.root {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  background-color: #dd4c39;
  border: none;

  &:hover {
    color: white;
    background: darken(#dd4c39, 10%);
  }
}
