@import "../layouts/variables.scss";

.root {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: lighten($primaryColor, 50);
  text-decoration: none;
  text-align: center;
  font-family: $displayFontFamily, sans-serif;
  background-color: $primaryColor;
  border: none;

  &:hover {
    color: white;
    background: lighten($primaryColor, 5);
  }
}
