.root {
  position: relative;
}

.text {
  font-size: 1.25em;
  line-height: 1.5;
}

.formRow {
  display: flex;
  margin: 0.5em 0;
}

.label {
  display: block;
  margin-right: 0.5em;
  line-height: 2;
  font-weight: bold;
  width: 5em;
}

.input {
  display: inline-block;
  flex: 1 auto;
  padding: 0.25em;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 200px;
}

.submit {
  margin-left: 4.75em;
}
