@import "../layouts/variables.scss";

.root {
  text-align: left;
  line-height: 1.5;
}

.link_active {
  color: #633;
  background-image: linear-gradient(
    transparentize($primaryColor, 0.5),
    10px,
    transparent 1px
  );
  background-size: 1px 10px;
  background-position: 0 90%;
  &:hover {
    color: #633;
    background-image: linear-gradient(
      transparentize($primaryColor, 0.5),
      10px,
      transparent 1px
    );
    background-size: 1px 10px;
    background-position: 0 90%;
    cursor: default;
  }
}

.link_home {
  flex: 0 auto;
  display: block;
  background: none;
  &:hover {
    background: none;
    filter: brightness(110%);
  }
}

.root_header {
  composes: root;
  align-items: center;
  @media (min-width: 768px) {
    display: flex;
    text-align: right;
  }

  .link {
    display: inline-block;
    font-family: $displayFontFamily;
  }
}

.list {
  flex: 1 auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-self: center;
  @media (min-width: 768px) {
    justify-self: start;
  }
}

.listItem {
  display: inline-block;
  margin: 0 1em 0 0;
}

.listItemBuy {
  composes: listItem;
}

.logo {
  height: 2em;
}

.ticketsButton {
  composes: root from "./button.module.scss";
  composes: link;
  line-height: 1.3;
}

.root_footer {
  .link_home {
    display: none;
  }

  .list {
    line-height: 1.5;
  }

  .listItem {
    display: block;
  }
}
