.root {
  display: flex;
  margin: 1em 0;
  justify-content: space-evenly;
}

.organizer {
  flex: 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 0;
}

.photo {
  display: block;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  @media (min-width: 768px) {
    margin-right: 10px;
  }
}

.info {
  display: block;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.name {
  font-weight: bold;
}

.twitter {
  margin: 0;
}
