.root {
  display: flex;
  margin: 1em 0;
  justify-content: space-around;
}

.organizer {
  flex: 1 33%;
  //text-align: center;
  margin: 0 10px 0 0;
  padding: 0;
}

.photo {
  display: inline-block;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  @media (min-width: 768px) {
    margin-right: 10px;
  }
}

.info {
  display: block;
}

.name {
  font-size: 90%;
}

.twitter {
  margin: 0;
}
