@import "../layouts/variables.scss";

.root {
  composes: global(grid);
  composes: global(grid_6cols);
  margin: 2em 0;
}

.speakerCard {
  composes: global(grid--1col);

  figcaption {
    display: none;
  }
}

.description {
  composes: global(grid--4col);
}

.figure {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 0;
}

.image {
  display: block;
  width: 150px;
  border-radius: 50%;
}

.name {
  margin: 0;
  font-size: x-large;
}

.company {
  margin: 0;
  color: lighten($textColor, 40);
}
