/* Single speaker block */
.root {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;

  & > img {
    position: relative;
    filter: grayscale(1);
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  & > figcaption {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    left: 10px;
    padding: 50px 10px 10px;
    background: #fff;
    overflow: hidden;
    z-index: 0;
  }
}

.name {
  margin: 0.25em 0;
  font-size: 1rem;
  line-height: 1;
}

.company {
  margin: 0;
  font-size: 0.75rem;
  color: #888;
}
