@import "../layouts/variables.scss";

$mainColor: $primaryColor;
$regularColor: #f0a453;
$supporterColor: #eec642;

.root {
  display: block;
  margin: 1rem 0;
  padding: 0;
  background: white;
  transition: 0.125s transform ease-in;

  &:hover {
    transform: scale(1.05);
    transition: 0.125s transform ease-out;
  }
}

.main,
.regular,
.supporter {
  composes: root;
}

.main {
  color: darken($mainColor, 10) !important;
  border: 1px solid $mainColor;
  background-color: lighten($mainColor, 45);

  .header {
    background-color: $mainColor;
    color: lighten($mainColor, 40);
  }
}
.regular {
  color: darken($regularColor, 20) !important;
  border: 1px solid $regularColor;
  background-color: lighten($regularColor, 36);

  .header {
    background-color: $regularColor;
    color: lighten($regularColor, 45);
  }
}

.supporter {
  color: darken($supporterColor, 20) !important;
  border: 1px solid $supporterColor;
  background-color: lighten($supporterColor, 39);

  .header {
    background-color: $supporterColor;
    color: lighten($supporterColor, 55);
  }
}

.header {
  padding: 1rem;
}

.name {
  margin: 0;
  margin-bottom: 0.5rem;
}

.amount {
  margin: 0;
}
.cost {
  display: inline-block;
  margin: 0;
  font-size: 150%;
}

.description {
  ul {
    margin: 1.5rem;
    padding: 0 0 0 1rem;
    list-style: square;
  }
  li {
    margin: 0.5rem 0;
  }
}
