.root {
  position: relative;
}

.text {
  font-size: 1.25em;
  line-height: 1.5;
}

.formRow {
  display: flex;
}

.label {
  display: block;
  margin-right: 0.5em;
  line-height: 2;
  font-weight: bold;
}

.input {
  display: inline-block;
  flex: 1 auto;
  margin-right: 0.25em;
  padding: 0.25em;
}
