@import url("https://fonts.googleapis.com/css?family=Assistant|Hammersmith+One");

* {
  box-sizing: border-box;
}

html {
  font: 14px/1.3 "Assistant", sans-serif;
  color: #333;
  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 1.5;
  }
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

.container {
  &--centered {
    margin: 0 auto;
    padding: 20px;
    max-width: 1080px;
  }
}

/* Main grid layout */
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-4col {
  grid-template-columns: 100%;

  @media (min-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-6col {
  grid-template-columns: 100%;

  @media (min-width: 960px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Home page header section */
.teaser {
  padding-top: 60px;
  padding-bottom: 30px;
  background: url(../assets/teaser-bg.jpg) 25% top no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
  text-align: center;

  @media (min-width: 960px) {
    padding-bottom: 120px;
    text-align: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  }

  &--logo {
    margin: 0;
    @media (min-width: 960px) {
      grid-column: 1 / span 4;
      grid-row: 1;
      align-self: end;
    }
  }
  &--image {
    width: 100%;
    @media (min-width: 640px) {
      width: auto;
    }
  }
  &--main {
    @media (min-width: 960px) {
      grid-column: 1 / span 4;
    }
  }
  &--text {
    display: none;
    font-size: 1.5rem;

    @media (min-width: 960px) {
      display: block;
      grid-row: 2;
    }
  }
  &--dates {
    position: relative;
    font-family: "Hammersmith One", Arial, sans-serif;

    @media (min-width: 960px) {
      grid-column: 5 / span 2;
      grid-row: 1;
      align-self: end;

      &::before {
        position: absolute;
        left: -20px;
        width: 5px;
        height: 100%;
        background: #dd4b39;
        content: "";
      }
    }
  }
  &--date {
    margin: 0;
    font-size: 2.35rem;
    letter-spacing: -2px;
  }
  &--location {
    margin: 0;
    font-size: 1.25rem;
  }
  &--button {
  }
}

/* Offering & Timeline */
.offering {
  &--heading {
    margin: 0;
    @media (min-width: 960px) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }
  &--text {
    @media (min-width: 960px) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }
}

.timeline {
  @media (min-width: 960px) {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
  }
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;

  &--date {
    margin: 0.1em 0;
    font-size: 0.9rem;
    text-align: right;
    @media (min-width: 960px) {
      width: 157px;
    }
  }
  &--date > time {
    color: #888;
  }
  &--content {
    margin: 0;
  }
  &--content > h3 {
    margin: 0;
  }
}

/* Speakers section */
.speakers::before {
  position: absolute;
  margin-top: -150px;
  background: url("../assets/speakers-bg.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;

  &--item {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Single speaker block */
.speaker {
  position: relative;
  margin: 0;

  & > img {
    position: relative;
    width: 200px;
    height: 200px;
    filter: grayscale(1) drop-shadow(10px 75px white);
  }
  & > figcaption {
    position: relative;
    padding: 0 20px;
  }
  &--name {
    margin: 0.25em 0;
    font-size: 1.25rem;
  }
  &--company {
    margin: 0;
    font-size: 0.85rem;
    color: #888;
  }
}

/* Footer */
footer {
  grid-area: footer;
  font-size: 0.9rem;
}

.footer--about {
  grid-column: 1 / span 2;
}

.footer--creator {
  display: inline-block;
  white-space: nowrap;
}

.footer--userpic {
  margin: 0 0.25em;
  width: 21px;
  height: 21px;
  vertical-align: -0.35em;
  border-radius: 50%;
}

.copyright {
  grid-column-end: span 2;
  align-self: end;
  text-align: right;
  color: #888;
}

.copyright > p {
  margin: 0;
}
