@import url("https://fonts.googleapis.com/css?family=Assistant|Hammersmith+One");

$accentColor: #dd4b39;
$bgColor: rgba(255, 255, 255, 0.9);

* {
  box-sizing: border-box;
}

html {
  font: 16px/1.3 "Assistant", sans-serif;
  color: #333;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

a {
  $linkColor: $accentColor;
  $underlineColor: transparentize(adjust_hue($accentColor, 0), 0.65);
  color: $linkColor;
  text-decoration: none;
  background-image: linear-gradient(
    $underlineColor,
    $underlineColor 1px,
    transparent 1px
  );
  background-size: 1px 0.2em;
  background-position: -9px 100%;
  background-repeat: repeat-x;

  &:hover {
    $linkColor: darken(adjust_hue($accentColor, 0), 5%);
    $underlineColor: transparentize(adjust_hue($linkColor, 0), 0.65);
    color: $linkColor;
    background-image: linear-gradient(
      $underlineColor,
      $underlineColor 2px,
      transparent 1px
    );
  }
}

.container {
  &_centered {
    margin: 0 auto;
    padding: 20px;
    max-width: 1080px;
  }
}

/* Main grid layout */
.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-gap: 25px;
  }
}
.grid-4col {
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-6col {
  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Home page header section */
.teaser {
  padding-bottom: 40px;
  background: url(../assets/teaser-bg.jpg) 25% top no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  }

  &--logo {
    margin: 40px 0 0;
    @media (min-width: 768px) {
      grid-column: 1 / span 4;
      grid-row: 1;
      align-self: end;
    }
  }
  &--image {
    width: 100%;
    max-width: 400px;
    @media (min-width: 768px) {
      display: block;
      width: auto;
      max-width: 100%;
    }
  }
  &--main {
    font-size: small;
    @media (min-width: 768px) {
      grid-column: 1 / span 4;
      font-size: 1em;
    }
  }
  &--tagline {
    font-size: 1.5em;
  }
  &--text {
    font-size: 1.25em;

    @media (min-width: 768px) {
      display: block;
      grid-row: 2;
    }
  }
  &--dates {
    position: relative;
    font-family: "Hammersmith One", Arial, sans-serif;
    font-size: 1.5vmax;

    @media (min-width: 1024px) {
      font-size: 1rem;
      align-self: end;
    }
    @media (min-width: 768px) {
      grid-column: 5 / span 2;
      grid-row: 1;
      align-self: end;

      &::before {
        position: absolute;
        left: -15px;
        width: 5px;
        height: 100%;
        background: $accentColor;
        content: "";
      }
    }
    @media (max-width: 767px) {
      font-size: small;
    }
  }
  &--datetime {
    display: block;
    padding: 0.25em 0 0;
    font-size: 2.35em;
    letter-spacing: -2px;
  }
  &--location {
    margin: 0;
    font-size: 1.25em;
  }
  &--navigation {
    grid-row: 1;
    @media (min-width: 768px) {
      grid-column: 5 / span 2;
      grid-row: 2;
    }
  }
}

/* Offering & Timeline */
.offering {
  &--heading {
    margin: 0;
    @media (min-width: 768px) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }
  &--text {
    @media (min-width: 768px) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }
}

.timeline {
  @media (min-width: 768px) {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
  }
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;

  &--date {
    margin: 0.1em 0;
    font-size: 0.9rem;
    text-align: right;
    @media (min-width: 768px) {
      width: 157px;
    }
  }
  &--date > time {
    color: #888;
  }
  &--content {
    margin: 0;
  }
  &--content > h3 {
    margin: 0;
  }
}

/* Speakers section */
.speakers::before {
  position: absolute;
  background: url("../assets/speakers-bg.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  @media (min-width: 425px) {
    margin-top: -50px;
  }
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: 425px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
  }

  &--item {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Single speaker block */
.speaker {
  position: relative;
  margin: 0;
  width: 100%;

  & > img {
    position: relative;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    z-index: 1;
  }
  & > figcaption {
    position: relative;
    top: -50px;
    left: -10px;
    padding: 50px 10px 10px;
    background: #fff;
    overflow: hidden;
    z-index: 0;
  }
  &--name {
    margin: 0.25em 0;
    font-size: 1rem;
    line-height: 1;
  }
  &--company {
    margin: 0;
    font-size: 0.75rem;
    color: #888;
  }
}

/* Footer */
footer {
  font-size: 0.9rem;
}

.footer--about {
  grid-column: 1 / span 2;
}

.footer--creator {
  display: inline-block;
  white-space: nowrap;
}

.footer--userpic {
  margin: 0 0.25em;
  width: 21px;
  height: 21px;
  vertical-align: -0.35em;
  border-radius: 50%;
}

.copyright {
  grid-column-end: span 2;
  align-self: end;
  text-align: right;
  color: #888;
}

.copyright > p {
  margin: 0;
}
