* {
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
  font-size: 16pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", Arial, sans-serif;
}

.container {
}

.container--centered {
  margin: 0 auto;
  max-width: 960px;
}

/* Main grid layout */
.grid {
  display: grid;
}
.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}
.grid-6col {
  grid-template-columns: repeat(6, 1fr);
}

/* Home page header section */
.teaser {
  padding-bottom: 120px;
  background-color: #99d1de;
  background: url(../assets/teaser-bg.png) no-repeat;
  background-size: cover;
}

.teaser--wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
}
.teaser--main {
}
.teaser--aside {
  font-family: "Hammersmith One", Arial, sans-serif;
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}
.speaker-list--item {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Single speaker block */
.speaker {
  position: relative;
  margin: 0;
}
.speaker > img {
  position: relative;
  z-index: 1;
}
.speaker > figcaption {
  position: relative;
  top: -2rem;
  left: 20px;
  padding: 2rem 20px 20px 20px;
  background: #fff;
}
.speaker--name {
  margin: 0.5em 0;
  font-size: 1rem;
}
.speaker--company {
  margin: 0;
  font-size: 0.75rem;
}

/* Footer */
footer {
  grid-area: footer;
  font-size: 0.9rem;
}

.footer--about {
  grid-column: 1 / span 2;
}

.copyright {
  grid-column-end: span 2;
  text-align: right;
}
