* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Main grid layout */
.container {
  display: grid;
  justify-content: center;
  min-width: 960px;
}

/* Home page header section */
.teaser {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}
.speaker-list--item {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Single speaker block */
.speaker {
  position: relative;
  margin: 0;
}
.speaker > img {
  position: relative;
  z-index: 1;
}
.speaker > figcaption {
  position: relative;
  top: -2rem;
  left: 20px;
  padding: 2rem 20px 20px 20px;
  background: #fff;
}
.speaker--name {
  margin: 0.5em 0;
  font-size: 1rem;
}
.speaker--company {
  margin: 0;
  font-size: 0.75rem;
}
