* {
  box-sizing: border-box;
}

body {
  font: 16pt/1.3 "Assistant", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2.25rem;
}

.container {
}

.container--centered {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

/* Main grid layout */
.grid {
  display: grid;
}
.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}
.grid-6col {
  grid-template-columns: repeat(6, 1fr);
}

/* Home page header section */
.teaser {
  padding-bottom: 120px;
  background-color: #99d1de;
  background: url(../assets/teaser-bg.png) no-repeat;
  background-size: cover;
}

.teaser--wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 70% 30%;
  grid-template-rows: 260px auto;
  grid-template-areas:
    "logo dates"
    "text ....";
}
.teaser--logo {
  grid-area: logo;
  align-self: end;
  margin: 0;
}
.teaser--text {
  font-size: 1.5rem;
}
.teaser--aside {
  align-self: end;
  grid-area: dates;
  font-family: "Hammersmith One", Arial, sans-serif;
}
.teaser--dates {
  margin: 0;
  font-size: 2.35rem;
  letter-spacing: -2px;
}
.teaser--location {
  margin: 0 0 1rem;
  font-size: 1.25rem;
}
.teaser--button {
}

/* Speakers section */
.speakers::before {
  position: absolute;
  margin-top: -80px;
  background: url("../assets/speakers-bg.svg");
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}
.speaker-list--item {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Single speaker block */
.speaker {
  position: relative;
  margin: 0;
}
.speaker > img {
  position: relative;
  width: 200px;
  height: 200px;
  filter: grayscale(1) drop-shadow(10px 75px white);
}
.speaker > figcaption {
  position: relative;
  padding: 0 20px;
}
.speaker--name {
  margin: 0.25em 0;
  font-size: 1.25rem;
}
.speaker--company {
  margin: 0;
  font-size: 0.85rem;
  color: #888;
}

/* Footer */
footer {
  grid-area: footer;
  font-size: 0.9rem;
}

.footer--about {
  grid-column: 1 / span 2;
}

.copyright {
  grid-column-end: span 2;
  text-align: right;
}
