@import url("https://fonts.googleapis.com/css?family=Assistant|Hammersmith+One");

$primaryColor: #dd4b39;
$secondaryColor: #99d1de;
$bgColor: rgba(255, 255, 255, 0.9);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 "Assistant", sans-serif;
  color: #333;
  @media (min-width: 768px) {
    //font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

a {
  $linkColor: $primaryColor;
  $underlineColor: transparentize(adjust_hue($primaryColor, 0), 0.5);
  color: $linkColor;
  text-decoration: none;
  background-image: linear-gradient(
    $underlineColor,
    $underlineColor 1px,
    transparent 1px
  );
  background-size: 1px 0.2em;
  background-position: 0 100%;
  background-repeat: repeat-x;

  &:hover {
    $linkColor: darken(adjust_hue($primaryColor, 0), 20%);
    $underlineColor: transparentize(adjust_hue($linkColor, 0), 0.5);
    color: $linkColor;
    background-image: linear-gradient(
      $underlineColor,
      $underlineColor 1px,
      transparent 1px
    );
  }
}

.container {
  &_centered {
    margin: 0 auto;
    padding: 20px;
    max-width: 1080px;
  }
}

/* Main grid layout */
.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-gap: 25px;
  }
}
.grid-4col {
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-6col {
  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Home page header section */
.teaser {
  padding-bottom: 30px;
  background: url(../assets/teaser-bg.jpg) 25% top no-repeat;
  background-size: cover;
  color: transparentize(darken($secondaryColor, 55%), 0.1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  }

  &--logo {
    margin: 40px 0 0;
    @media (min-width: 768px) {
      grid-column: 1 / span 4;
      grid-row: 1;
      align-self: end;
    }
  }
  &--image {
    width: 100%;
    max-width: 400px;
    @media (min-width: 768px) {
      display: block;
      width: auto;
      max-width: 100%;
    }
  }
  &--main {
    font-size: small;
    @media (min-width: 768px) {
      grid-column: 1 / span 4;
      font-size: 1em;
    }
  }
  &--tagline {
    margin: 0;
    font-size: 1.5em;
  }
  &--text {
    font-size: 1.25em;

    @media (min-width: 768px) {
      display: block;
      grid-row: 2;
    }
  }
  &--dates {
    position: relative;
    font-family: "Hammersmith One", Arial, sans-serif;
    font-size: 1.5vmax;

    @media (min-width: 1024px) {
      font-size: 1rem;
      align-self: end;
    }
    @media (min-width: 768px) {
      grid-column: 5 / span 2;
      grid-row: 1;
      align-self: end;
    }
    @media (max-width: 767px) {
      font-size: small;
    }
  }
  &--datetime {
    display: block;
    padding: 0.25em 0 0;
    font-size: 2.35em;
    letter-spacing: -2px;
  }
  &--location {
    margin: 0;
    font-size: 1.25em;
  }
  &--navigation {
    grid-row: 1;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      grid-column: 1 / span 6;
    }
  }
}

/* Offering & Timeline */
.offering {
  &--heading {
    margin: 0;
    @media (min-width: 768px) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
  }
  &--text {
    @media (min-width: 768px) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }
}

.timeline {
  @media (min-width: 768px) {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
  }
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;

  &--date {
    margin: 0.1em 0;
    font-size: 0.9rem;
    text-align: right;
    @media (min-width: 768px) {
      width: 157px;
    }
  }
  &--date > time {
    color: #888;
  }
  &--content {
    margin: 0;
  }
  &--content > h3 {
    margin: 0;
  }
}

/* Speakers section */
.speakers::before {
  position: absolute;
  background: url("../assets/speakers-bg.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  @media (min-width: 425px) {
    margin-top: -50px;
  }
}

/* Speakers list grid */
.speaker-list {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
  }

  &--item {
    margin: 0;
    padding: 0;
  }
}

.tickets {
}
